<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Vue pod filter</title>
  </head>
  <body>

    <h1>Example content filter</h1>

    <div id="app" v-cloak>

      <div class="filter">
        <h3 class="filter__title">Filter: </h3>
        <div class="filter__checkbox-group">

          <div class="filter__checkbox-item" v-for="(category, key) in animalTypes"><!-- `animalTypes` is in the Vue.js `data` -->
            <div class="filter__checkbox">
              <label class="filter__checkbox-label" :for="'filterOption' + key">
                <input class="filter__checkbox-input" type="checkbox" :id="'filterOption' + key" :value="category" v-model="selectedAnimalTypes" v-on:change="filterChangeHandler" />
                {{category}}
              </label>              
            </div>
          </div><!-- /.filter__checkbox-item -->

        </div>

      </div><!-- /.filter -->


        <transition-group
          class="animal-pod-wrapper"
          tag="div"
          name="animal-pod-wrapper"><!-- `name` defines the name for the CSS transition -->

          <div class="animal-pod" v-for="(animal, index) in filteredAnimals" :key="animal.Id"><!-- `filteredAnimals` is used within the `computed` section -->
            <h4 class="animal-pod__name">Name: {{animal.Name}}</h4>
            <p class="animal-pod__type">Type: {{animal.AnimalType}}</p>
            <p class="animal-pod__age">Age: {{animal.Age}}</p>
            <p class="animal-pod__age">Eye colour: {{animal.EyeColour}}</p>
          </div><!-- /.animal-pod -->

        </transition-group><!-- /.animal-pod-wrapper -->

    </div><!-- /#app -->


    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
    <script src="scripts.js"></script>
  </body>
</html>