body {
  margin: 0;
}

/********** Animal pod **********/
.animal-pod-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.animal-pod-wrapper:after {
  content: '';
  flex-basis: calc((100% - 30px) / 3);
}

.animal-pod {
  flex-basis: calc((100% - 30px) / 3);
  margin-bottom: 15px;
  background-color: tomato;
}

/********** Filter **********/
.filter {
  display: table;
  margin: 30px auto;
  border: 1px solid black;
  padding: 15px;
}

.filter__title {
  margin-top: 0;
}

.filter__checkbox-item {
  display: table-cell;
  width: 100px;
}

/********** Vue.js animations **********/


/***** Animation style 1 *****/
.animal-pod-wrapper-enter,
.animal-pod-wrapper-leave-to  {
  opacity: 0;
}

.animal-pod-wrapper-enter-active,
.animal-pod-wrapper-leave-active {
  transition: opacity 1s;
}

.animal-pod-wrapper-leave-active {
  position: absolute;
}

.animal-pod-wrapper-move {
  transition: transform 1s;
}